services:
  identity-service:
    build:
      context: ../../
      dockerfile: ./apps/identity-service/Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - deigma-network
    environment:
      - APP_NAME=IdentityService
      - DATABASE_URL=mongodb://mongodb:27017/identity
      - LOG_LEVEL=debug
      - LOG_TO=console
      - NODE_ENV=production
      - SERVER_PORT=3001
      - SWAGGER_ENABLED=true
      - SWAGGER_TITLE=Identity Service API
      - SWAGGER_DESCRIPTION=API documentation for the Identity Service
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - deigma-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data:


networks:
  deigma-network:
    driver: bridge
